<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.egui_mobile.composeime">
    <uses-sdk android:minSdkVersion="33" android:targetSdkVersion="35" />
    <application android:label="Compose IME" android:hasCode="true">
        <service
            android:name=".ComposeIme"
            android:label="Compose IME"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
    </application>
</manifest>
